
body {
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}


#HEADER {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#HEADER h3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px rgb(5, 5, 5);
    font-size: 90%;
}
#navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    padding: 0 10px;
    color: white;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;

}
#navbar a:hover{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    transition: 0.2s ease;
}
#HEADER .LOGO {
    height: 30px;
}

#SHOP {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url(/IMAGES/BANNER/pexels-arthurbrognoli-2260838.jpg) no-repeat center center;
      height: 60vh;
      background-position: center;
      background-size: cover;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: white;
}


.hero-shop h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-shop h1 {
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.hero-shop h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-shop p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#PRODUCTS  {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pro {
    text-align: center;
    width: 30%;
    min-width: 250px;
    padding: 9px 10px ;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 10px 0;
    position: relative;
}
.pro:hover .pro {
   padding: 20px;
}

.pro img {
    width: 100%;
    min-width: 200px;
    background-color: black;
    border-radius: 25px;
}

.pro .SHOP .ratings {
    color: rgb(255, 187, 0); 
}

.pro .SHOP {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SHOP .cart {
    background-color: blueviolet;
    padding: 20px;
    border-radius: 25%;
    color: white;
}
.SHOP {
    margin: 10px;
 }
.GET {
    margin: 10px;
 }
 .GET button a{
   text-decoration: none;
}

.GET button {
    border: none;
    border-radius: 10px;
 }

 .GET button:hover {
    background-color: blueviolet;
    color: white;
 }

 .GET button:hover h3{
    color: white;
 }

.pro .GET {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro .pro-name {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.pro .pro-des {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.pro p {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 50%;
}

.GET p{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100%;
 }

.pro {
    width: 3%;
    padding: 30px;
}

.SHOP-PRO {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#banner {
    height: 40vh;
    background-position: center;
    background-size: cover;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url(/IMAGES/BANNER/pexels-olly-716658.jpg) no-repeat center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



#banner h4 {
    color: white;
    font-size: 16px;

}
#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
    font-size: 30px;
    padding: 10px 0;
}


#banner button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

#banner .normal {
    padding: 24px;
    border: none;
    border-radius: 25px;
}


#sm-banner .banner-box {
    min-width:  700px;
    background-position: center;
    height: 40vh;
    background-size: cover;
    background-image: url(/IMAGES/BANNER/pexels-olly-1050244.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
 
}

#sm-banner .banner-box2 {
    min-width:  700px;
    background-position: center;
    height: 40vh;
    background-size: cover;
    background-image: url(/IMAGES/BANNER/pexels-olly-716658.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0 0 8px rgb(5, 5, 5);
}

#sm-banner h2 {
    color: white;
    font-size: 30px;
    font-weight: 1000;
    text-shadow: 0 0 8px rgb(5, 5, 5);
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    text-shadow: 0 0 8px rgb(5, 5, 5);
}




button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}


#sm-banner .banner-box:hover button {
    background-color: green;
    border: 1px solid green;
}

#sm-banner .banner-box2:hover button {
    background-color: green;
    border: 1px solid green;
}


#banner3 .banner-box {
    min-width:  30%;
    background-position: center;
    height: 30vh;
    background-size: cover;
    background-image: url(/IMAGES/BANNER/pexels-olly-975250.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2 {
    font-weight: 500px;
    font-size: 40px;
     color: white;
     text-shadow: 0 0 8px rgb(5, 5, 5);
}

#banner3 .bannerbox2 {
    background-image: url(/IMAGES/BANNER/pexels-max-fischer-5872177.jpg);
}

#banner3 .banner-box h3 {
  color: white;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}

















.newsletter { 
    background-color: purple;
}




#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/IMAGES/img/banner/b14.png);
    background-repeat: no-repeat;
    background-color: rgb(3, 3, 31);
    margin-bottom: 0;
}

#newsletter h4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
}
#newsletter p {
    color: rgb(35, 42, 138);
    font-size: 14px;
    font-weight: 600;
}

#newsletter p span  {
    color: white;
}
#newsletter input {
   height: 3.125rem;
   padding: 0 i.25em;
   font-size: 14px;
   width: 100%;
   border: 1px solid transparent;
   border-radius: 4px;
   outline: none;
}

#newsletter button {
    background-color: blueviolet;
    color: white;
    white-space: nowrap;
    padding: 20px;
    border-radius: 0 10px 10px 0px;
}

#newsletter .form {
    display: flex;
    width: 45%;
}

footer {
    background-color: rgb(3, 3, 31);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 30px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    height: 30px;
    margin-bottom: 0px;
}

footer a {
    font-size: 13px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0px;
    font-size: 13px;
    margin: 0 0 8px 0;
    padding-bottom: px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: white;
}

footer h4{
  font-size: 19px;
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    padding-bottom: px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }

  footer .install .row img {
    border: 1px solid blue;
    border-radius: 25px;
    display: flex;
    

  }

footer .install img {
    margin: 10px 0 15px 0;
}

footer a:hover {
    color: blue;
}

footer .copyright{
 text-align: center;
 width: 100%;
}








.section-p1 {
    padding:  40px 80px;
 }
 
 .section-m1 {
     margin: 40px 0;
 }